.Products {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem; 
    align-items: center;
    @media only screen and (min-width: 500px) {
        padding: 1rem;
        grid-row-gap: 2.5rem;
        grid-template-columns: 1fr 1fr;
    }
    @media only screen and (min-width: 600px) {
        grid-row-gap: 2.5rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media only screen and (min-width: 820px) {
        margin: 0 auto;
        grid-row-gap: 2.5rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 800px;
    }
}