@import '../../styles/setting.module.scss';
.Sell {
    padding: 1rem;
}
.sellForm {
    display: flex;
    flex-direction: column;
    align-items: start ;
    margin: 0 auto;
}

label {
    font-weight: bold;
    // color: lighten($font-color, 60%);
}

.btn {
    width: auto;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 400;
    justify-self: center;
    align-self: center;
}