// Color
$color-primary: #0084FF;
$color-secondary: #DB4437;
$color-light-gray: #ccc;
$font-color: #555;

// font-size:
$default-size: 1.6rem;

// size
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2.0rem;
$xl-size: 3.2rem;

// other
$nav-height: 5rem;