@import '../../styles/setting.module.scss';

.Auth {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 80%;
    height: auto;
    max-width: 60rem;
    padding: 3rem 2rem;

    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.2);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.isSignupContainer {
}

.onSignupChange, .onLoginChange {
    font-size: inherit;
    border: 1px solid #ccc;
    background: #eee;
    color: #999;
    padding: .3rem 1rem;
    outline: none;
}

.onSignupChange {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.onLoginChange {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.onSignupChange.active, .onLoginChange.active {
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: white;
}




form {
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}